<div class="ui-divider @(Vertical ? "ui-divider--vertical" : null) @Class" style="@Style" role="separator"></div>

@code {
    [Parameter] public bool Vertical { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }
}
